<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AutoChek Dashboard</title>

    <link rel="shortcut icon" href="~/Content/template/assets/img/favicon.png">

    <link rel="stylesheet" href="~/Content/template/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/Content/template/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/Content/template/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="~/Content/template/assets/css/style.css">
    <!--[if lt IE 9]>
                <script src="assets/js/html5shiv.min.js"></script>
                <script src="assets/js/respond.min.js"></script>
            <![endif]-->
</head>
<body>

    <div class="main-wrapper">
        <div class="header">

            <div class="header-left">
                <a href="index.html" class="logo">
                    <img src="~/Content/logo.png" alt="Logo">
                </a>
                @*<a href="index.html" class="logo logo-small">
                        <img src="~/Content/template/assets/img/logo-small.png" alt="Logo" width="30" height="30">
                    </a>*@
            </div>


            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fas fa-bars"></i>
            </a>

            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>


            <ul class="nav nav-tabs user-menu">

                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img src="./Content/template/assets/img/profiles/avatar-01.jpg" alt="">
                            <span class="status online"></span>
                        </span>
                        <span>Admin</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="login.html">
                            <i data-feather="log-out" class="me-1"></i>
                            Logout
                        </a>
                    </div>
                </li>

            </ul>

        </div>

        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title"><span>Main</span></li>
                        <li>
                            <a href="~/Manage/Index"><i data-feather="home"></i> <span>Dashboard</span></a>
                        </li>
                        <li>
                            <a href="customers.html"><i data-feather="users"></i> <span>Customers</span></a>
                        </li>
                        <li>
                            <a href="estimates.html"><i data-feather="file-text"></i> <span>Estimates</span></a>
                        </li>
                        <li>
                            <a href="invoices.html"><i data-feather="clipboard"></i> <span>Invoices</span></a>
                        </li>

                        <li class="submenu">
                            <a href="#">
                                <i data-feather="settings"></i> <span> Manage</span> <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="~/Manage/ShopInformation">Shop Information</a></li>
                                <li><a href="~/Manage/CarMakers">Car Make/Model</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Parts</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="page-wrapper">
            <div class="content container-fluid">
                @Html.Raw(TempData["msg"])
                @RenderBody()
            </div>
        </div>

    </div>


    <script src="~/Content/template/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <script src="~/Content/template/assets/js/bootstrap.bundle.min.js"></script>

    <script src="~/Content/template/assets/js/feather.min.js"></script>

    <script src="~/Content/template/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content/template/assets/js/script.js"></script>

    <script>
        $(document).ready(function () {
            var anchor = $('#sidebar-menu').find('a[href="' + location.pathname + '"]');
            if ($(anchor).parents("li.submenu").length > 0) {
                $(anchor).parents("li.submenu").addClass('active');
                $(anchor).addClass("active");
            }
            else {
                $(anchor).parent('li').addClass('active');
            }
            $('#sidebar-menu ul li.submenu a.active').parents('li:last').children('a:first').addClass('active').trigger('click');
        });

        function makeAjaxCall(wsUrl, params, sCallBack) {
            $.ajax({
                type: "POST",
                url: wsUrl,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(params),
                success: sCallBack,
                error: function (xhr) {
                    ajaxUnsuccessfulMsg();
                }
            });
        }

        function swalDeleted(name) {
            Swal.fire(
                'Deleted!',
                name + ' has been deleted.',
                'success'
            ).then((result)=> {
                location.reload();
            })
        }

    </script>


    
    @RenderSection("scripts", required: false)
</body>
</html>
