
@{
    ViewBag.Title = "Dashboard";
}


<div class="row">

    <div class="col-md-4 d-flex">
        <div class="card flex-fill bg-white">
            <div class="card-header">
                <h5 class="card-title">Admin Dashboard Management</h5>
            </div>
            <div class="card-body">
                <p><del>Admin Login</del></p>
                <p><del>Manage Shop Information</del></p>
                <p>Manage Car Brands,Model</p>
                <p>Manage Parts & Services</p>
                <p>Manage Customers</p>
            </div>
        </div>
    </div>

</div>
