
@{
    ViewBag.Title = "Shop Information";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header bg-primary"">
                <h5 class="card-title mb-0 text-white">Shop Information</h5>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Business Name</label>
                    <input id="shop" name="shop" type="text"  class="form-control" placeholder="Enter Business Name">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Contact Number</label>
                            <input id="contactno" name="contactno" type="text" class="form-control" placeholder="Enter Contact Number">
                        </div>
                        <div class="col-md-6">
                            <label>Email Address</label>
                            <input id="email" name="email" type="email" class="form-control" placeholder="Enter Email Address">
                        </div>
                    </div>
                </div>

                <div>
                    <h5>Address Information</h5>    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Region</label>
                                <select id="region" name="region" class="form-select" required>
                                    <option value="1">Region 1</option>
                                    <option value="1">Region 2</option>
                                    <option value="1">Region 3</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>City</label>
                                <select id="city" name="city" class="form-select" required>
                                    <option value="1">City 1</option>
                                    <option value="1">City 2</option>
                                    <option value="1">City 3</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>District</label>
                                <select id="district" name="district" class="form-select" required>
                                    <option value="1">District 1</option>
                                    <option value="1">District 2</option>
                                    <option value="1">District 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Street/Building Name</label>
                                <input id="street" name="street" class="form-control"  required/>
                            </div>
                            <div class="col-md-4">
                                <label>Unit Number</label>
                                <input id="unitno" name="unitno" class="form-control"  required/>
                            </div>
                            <div class="col-md-4">
                                <label>Postal Code</label>
                                <input id="postal" name="postal" class="form-control" required />
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>